/* .main{
    background-color: cadetblue;
    width: 100%;
    height: 100vh;
} */

/* .main:hover{
    transform: scale(1.2);
}
.main:hover{
    transform: rotate(45deg);
} */

/* .main img{
    width: 400px;
    height: 300px;
    margin-top: 12%;
    margin-left: 33%;
    transform: translate(100px);
     transform: skew(20deg); 
}
 .main img:hover{
    transform: translatey(90px);
} 
 .main img:hover{
    transform: skew(45px);
 } */


.main{
    width: 400px;
    height: 300px;
    border-radius: 12px;
    animation-name: anam1;
    animation-duration: 4s;
    /* animation-iteration-count: infinite;  */
    animation-timing-function:ease-out ;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

/* -----------translate----------- */

/* @keyframes anam1 {
    to{
        transform: translatex(-600px);
    }
    from{
        transform: translatex(1s);
    }
} */

/* -----------sacle----------- */

@keyframes anam1 {
    0%{
        
        transform: rotate(360deg);
    }
    100%{
        /* transform: translate(1.2s); */
        transform: rotate(1);
        padding: 40PX;
    }
}

/* -------------------------- */

@keyframes anam1 {
    0%{
        
        transform: rotate(360deg);
    }
    50%{
        padding: 40PX;
    }
    100%{
        transform: rotate(0);
        
    }
}